<h1>Denuns#show_all</h1>
<p>Find me in app/views/denuns/show_all.html.erb</p>


<table style="width:100%">
  <tr>
    <th>id</th>
    <th>nombre</th>
    <th>descripcion</th>
    <th>creada</th>
    <th>dislike</th>
    <th>like</th>
    <th>comentario</th>
    <th></th>
    <th></th>
  </tr>
  <% @visible_denuns.each do |denun| %>
  <tr>
    <td><%= denun.id %></td>
    <td><%= denun.name %></td>
    <td><%= denun.description %></td>
    <td><%= denun.created_at.strftime("%Y-%m-%d") %></td>
    <td><%= denun.dislike %></td>
    <td><%= denun.like %></td>
    <td> <%= form_for @comment, :url => denuns_comment_url, :method => :post do |f| %>
          <%= f.text_field :text %>
          <%= f.submit '-1'%>
          <%= f.submit '+1'%>
          <%= f.hidden_field :denunid, :value => denun.id %>
      <% end %></td>
    <td> <%=  button_to "+1", {action: "like" ,id: denun.id} %></td>
    <td><%= button_to "-1", {action: "dislike" ,id: denun.id} %></td>
  </tr>
  <% end %>
</table>