<h1>Denuncias</h1>
<br>

<%= link_to 'Volver', root_path%>
<br>
<div class="wrapper">
<table class="header">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Creada</th>
    <th>Like</th>
    <th>Dislike</th>
    <th>Comenta!</th>
    <th>+1!</th>
    <th>-1!</th>
  </tr>
  <% @visible_denuns.each do |denun| %>
      <tr>
        <td><%= denun.name %></td>
        <td style="width:300px;word-wrap:break-word;"><%= denun.description %></td>
        <td><%= denun.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= denun.like %></td>
        <td><%= denun.dislike %></td>
        <td> <%= form_for @comment, :url => denuns_comment_url, :method => :post do |f| %>
            <%= f.text_field :text %>
            <%= f.hidden_field :denun_id, :value => denun.id %>
            <%= f.submit 'Comentar' %>
        <% end %>
        </td>
        <td><%= button_to "+1", {action: "like" ,id: denun.id} %></td>
        <td><%= button_to "-1", {action: "dislike" ,id: denun.id} %></td>
      </tr>
      <tr><td>Comentarios:</td></tr>
      <% @comment_all.where(:denun_id => denun.id).each do |comm| %>
          <tr>
            <td></td>
            <td><%= comm.text%></td>
            <td><%= comm.likes %> <%= button_to "+1", {action: "comment" , denun: denun.id, id: comm.id, commit: 'like'} %> </td>
            <td><%= comm.dislikes %> <%= button_to "-1", {action: "comment" ,denun: denun.id, id: comm.id, commit: 'dislike'} %> </td>
          </tr>
          <% end %>
      <% end %>
</table>
</div>